
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);
    padding: 2rem;
}

.navbar__logo {
    display: flex;
    align-items: center;
}

.navbar__logo img {
    width: 150px;
}

.navbar__links {
    color: white;
    display: flex;
    list-style: none;
}

.navbar__links li {
    margin: 0 1rem;
    cursor: pointer;
}

.navbar__links li:hover {
    color: var(--color-gray)
}

.navbar__booking {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar__booking a {
    color: white;
    margin: 0 2rem;
    text-decoration: none;
    transition: 0.5s ease;
}

.navbar__booking a:hover {
    border-bottom: 1px solid var(--color-golden);
}

.navbar__booking div {
    width: 1px;
    height: 30px;
    background-color: var(--color-golden);
}

.navbar__smallscreen {
    display: none;
}

.navbar__smallscreen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
}

.navbar__smallscreen_overlay .overlay__close {
    font-size: 27px;
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar__smallscreen_links {
    list-style: none;
}

.navbar__smallscreen_links li {
    margin: 2rem;
    cursor: pointer;
    color: var(--color-golden);
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-base);
}

.navbar__smallscreen_links li:hover {
    color: var(--color-white);
}

@media screen and (max-width: 1150px) {
    .navbar__links {
        display: none;
    }

    .navbar__smallscreen {
        display: flex;
    }
};